*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}



.side-bar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 280px;
    height: 100%;
    background-color: #343a40;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
    overflow: hidden;
    z-index:10 ;
}


.side-bar header{
    width: 280px;
    line-height: 62px;
    color:#ccc;
    font-size: 20px;
    border-bottom: 0.2px solid #ccc;
    height: 62px;
    text-align: center;
    transition: width 200ms linear;
}


.side-bar .user{
    width: 280px;
    padding-left:20px;
    display: flex;
    color: #ccc;
    font-size: 14px;
    align-items: center;
    border-bottom: 0.2px solid #ccc;
    height: 60px;
    margin-bottom: 3px;
    transition: width 2s linear;
}

.side-bar .user:hover {
    color: white;
    cursor: pointer;
}
.side-bar .user .username{
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
}

.side-bar .user i{
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(0,0,0, 0.6);
}

.side-bar .logout{
    display: flex;
    color: #ccc;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    padding:10px 0px 10px 30px ;
    display: none;
    border-radius: 3px;
}

.side-bar .logout:hover{
    background-color: rgba(192,192,192, 0.3);
    color: white;
    cursor: pointer;
}

.side-bar .logout{
    width: 95%;
    margin: 0 auto;
}

.side-bar ul{
    list-style: none;
}

.side-bar ul li{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    width: 266px;
    margin: 3px auto;
    border-radius: 5px;
}


.side-bar ul li:hover{
    background-color:rgba(192,192,192, 0.3) ;
}

.side-bar ul li:hover a{
  color: white;
}

.side-bar ul li a{
    color:#ccc;
    text-decoration: none;
    margin-left: 25px;
    font-size: 17px;
}

.side-bar ul li i{
    margin-right: 20px;
    font-size: 20px;
}

.side-bar ul li a p{
    display: inline-block;
}



/*side bar min*/

@media screen and (min-width: 769px) {
    .side-bar{
        left: 0px !important;
    }

    .side-bar-min .user .username{
        display: none;
    }
    
    .side-bar-min ul li a p{
        display: none;
    }
    
    .side-bar-min header{
        width: 80px;
    }
    
    .side-bar-min ul li{
       width: 70px;
    }
    
    .side-bar-min .user i{
      margin-left: 1px;
      font-size: 35px;
    }
}



nav{
    position: fixed;
    top: 0px;
    left: 280px;
    width: 100%;
    background-color: white;
    height: 62px;
    border: 1px solid rgba(192,192,192, 0.6);
    z-index: 3;
    border-left: none;
}
nav ul{
    padding: 0px;
    list-style: none;
}

nav ul li{
    padding: 0px 20px;
    line-height: 62px;
    display: inline-block;
}
nav ul li a{
    color: #ccc;
}

nav ul li:hover a{
    text-decoration: none;
    color: #333;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 280px;
    padding-top: 130px;
    height: 100%;
    background-color:rgba(192,192,192, 0.1);
} 

.main{
    padding: 0px 20px;
}


.mask{
    display: none;
}



@media screen and (max-width: 768px) {
    .side-bar{
        width: 280px !important;
        left: -280px ;
    }

    .container-fluid{
        padding-left: 0px !important;
    }

    nav{
        left: 0px !important;
    }


    .mask-action{
        display: block;
        position:fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0,0,0, 0.4);
    }
    
  }


  @media screen and (max-width: 576px) {
    .side-bar{
        width: 280px !important;
        left: -280px;
    }

    .container-fluid{
        padding-left: 0px !important;
    }

    nav{
        left: 0px !important;
    }

    .mask-action{
        display: block;
        position:fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba(0,0,0, 0.4);
    }
    
  }


@media screen and (max-width: 300px) {
     nav{
        width: 300px;
     }
}
