<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add employee</title>
    <link rel="stylesheet" href="../assest/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="../assest/css/sideBar-navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assest/css/addEmployess.css">
   
</head>
<body>
    <div class="side-bar">
        <header>HRM App</header>
        <div class="user"><i class="fa-sharp fa-solid fa-circle-user" style="margin-right:15px"></i><p class="username"></p></div>
        <div class="logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>Đăng xuất</div>
        <ul>
         <li><a href="./showEmployees.html"><i class="fa-regular fa-address-book"></i><p>Danh sách nhân viên</p></a></li>
         <li><a href="./addEmployee.html"><i class="fa-solid fa-user-plus"></i><p>Thêm nhân viên</p></a></li>
         <li><a href="./showDepartment.html"><i class="fa-solid fa-landmark"></i><p>Các phòng ban</p></a></li>
         <li><a href="./listOfPositions.html"><i class="fa-solid fa-layer-group"></i><p>Danh sách chức vụ</p></a></li>
         <li><a href="./employeesDeleted.html"><i class="fa-solid fa-user-xmark"></i></i><p>Nhân viên đã nghỉ việc</p></a></li>

        </ul>
    </div>
    <div class="container-fluid">
        <div class="main">
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-bars"></i></a></li>
                    <li><a href="./home.html">Trang chủ</a></li>
                </ul>
            </nav>
                <div class="dash-board">
                    <div class="row">
                        <div class="col-0 col-sm-1 col-md-1 col-lg-3"></div>
                        <div class="col-12 col-sm-10 col-md-10 col-lg-6">
                            <form>
                                <h2>Thêm nhân viên</h2>
                                <div class="form-group">
                                  <label for="fullName">Họ tên</label>
                                  <input type="text" class="form-control" id="fullName" aria-describedby="emailHelp" placeholder="VD : Nguyễn Văn A">
                                  <span class="errorMessage"></span>
                                </div>
                                <div class="form-group row">
                                   <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <label for="age">Tuổi</label>
                                    <input type="text" class="form-control" id="Age" placeholder="VD : 18">
                                    <span class="errorMessage"></span>
                                   </div>
                                   <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                    <label for="sex">Giới tính</label><br>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="sex"  id="" value="Nam" checked>
                                        Nam
                                      </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="sex"  id="" value="Nữ">
                                        Nữ
                                      </label>
                                    </div>
                                   </div>
                                  
                                </div>
                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" placeholder="VD : Thạch Thất ,Hà Nội">
                                    <span class="errorMessage"></span>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="VD : 0321 111 222">
                                    <span class="errorMessage"></span>
                                </div>
                                <div class="form-group">
                                  <label for="department">Phòng ban</label>
                                  <select class="form-control"  id="department">
                                    <option>Phòng marketing</option>
                                    <option>Phòng nhân sự</option>
                                    <option>Phòng công nghệ thông tin</option>
                                    <option>Phòng kinh doanh</option>
                                    <option>Phòng kế toán</option>
                                    <option>Phòng chăm sóc khách hàng</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label for="position">Chức vụ</label>
                                  <select class="form-control"  id="position">
                                    <option value="">Trưởng phòng marketing</option>
                                    <option value="">Nhân viên marketing</option>
                                    <option value="">Nhân viên content</option>
                                    <option value="">Nhân viên seo</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                    <label for="salary">Lương</label>
                                    <input type="text" class="form-control" id="salary" aria-describedby="emailHelp" placeholder="VD : 1000$">
                                    <span class="errorMessage"></span>
                                </div>
                         
                                <div class="form-group">
                                    <label for="avatar">Ảnh</label><br>
                                    <img src="../assest/img/placeholder.png" alt="">
                                    <input type="text" class="form-control" id="avatar" aria-describedby="emailHelp" placeholder="Chú ý : chỉ nhận link ảnh">
                                    <span class="errorMessage"></span>
                                </div>
                                
                                <input type="submit" class="btn btn-primary" value="Thêm">
                              </form>
                        </div>
                        <div class="col-0 col-sm-1 col-md-1 col-lg-3"></div>
                    </div>
                </div>
        </div>
    </div>
    <div  class="mask" ></div>
    <script>
        if(!localStorage.getItem("key")){
           location.href="./login.html";
        }
    </script>
    <script src="../assest/libraries/jquery.min.js"></script>
    <script src="../assest/libraries/bootstrap.min.js"></script>
    <script src="../assest/js/home.js"></script>
    <script src="../assest/js/addEmployee.js"></script>
</body>
</html>

